* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', monospace;
}
.nav-link1 {
    padding-left: 510px;
    color: #7b7b7b;
}
.navbar-brand {
    padding-left: 10px;
}
.brand-heading,
.intro-text {
    text-align: center;
}

nav {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 210px;
    height: 205px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 10px solid white;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.links a {
    display: inline-block;
    margin: auto;
}

.links a:first-child {
    padding-left: 500px;
}

.icon {
    width: 96px;
    height: 96px;
}